/* 576 */
@media(min-width: 576px) {
    .modal-dialog.modal-lg {
        max-width: 900px;
    }
}

/* 768 */
@media(min-width: 767px) {
    .modal-dialog {
        max-width: 600px;
        width: 100%;
        margin: 30px auto;
    }
}

/* 1024 */
@media(min-width: 992px) {}

/* 1240 */
@media(min-width: 1200px) {}

@media (min-width: 1500px) and (max-width: 1700px) {
    .pos__product_wrapper {
        gap: 14px;
    }
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .product__box {
        width: calc(20% - 10px);
    }
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .product__box {
        width: calc(33% - 10px);
    }

    .pos__product_wrapper {
        gap: 17px;
    }
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .pos__productcontent {
        margin-top: 20px;
    }

    .pos__product_wrapper {
        gap: 14px;
    }
}


/* small mobile :320px. */
@media (max-width: 767px) {
    .product__box {
        width: calc(32% - 5px);
    }

    .product_title {
        padding: 3px;
        font-size: 13px;
        line-height: 1.3;
    }

    .input-group input {
        /* padding: 0; */
        width: 15px !important;
    }

    .pos__product_wrapper {
        padding-right: 0px;
        gap: 12px;
    }

    .product__header__filter .single__filter {
        width: 100%;
        margin-bottom: 10px;
    }

    .product__header__filter {
        display: block;
    }

    .header_right,
    .header___left {
        justify-content: center !important;
    }

    .pos__productcontent {
        margin-top: 10px;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .product__box {
        width: calc(24% - 5px);
    }

    .pos__product_wrapper {
        gap: 12px;
    }
}